* {
  padding: 0;
  margin: 0;
  font-family: "Alata";
  font-weight: 300;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

/* misc */

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.2vw;
}

p {
  font-family: "Chivo";
  font-size: 1.2vw;
}

a {
  text-decoration: none;
  color: white;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("empty.gif");
}

.button {
  background-color: white;
  padding: 0.3rem 0.9rem;
  display: inline-block;
  position: relative;
  z-index: 1;
}

#noFace {
  width: 10vw;
  position: relative;
  right: 5vw;
}

button {
  display: inline-block;
  border: none;
  padding: 1vw 2vw;
  margin: 0;
  text-decoration: none;
  font-size: 1vw;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* flex */

.flex-default-row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-default-column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

/* grids */

.start-grid-container {
  padding: 2rem;
  padding-top: 7rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "redefined redefined opening opening now"
    "redefined redefined opening opening now"
    "redefined redefined opening opening now"
    "redefined redefined events events now"
    "redefined redefined events events now"
    "tours tours events events now"
    "tours tours events events now"
    "tours tours events events now"
    "tours tours events events now";
  gap: 2rem;
  min-height: 45vw;
  width: 100vw;
  height: 100vh;
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding: 1.8rem;
  z-index: 666;
  background-color: black;
}

header h5 {
  font-size: 1rem;
}

header .flex-default-row {
  width: 30rem;
}

header .flex-default-column h5 {
  letter-spacing: 0.4rem;
  color: white;
}

/* #title */

#title {
  justify-content: space-around;
  justify-content: center;
}

.hidden {
  transition: 2s;
  height: 0vh;
  position: relative;
  bottom: 13vw;
  visibility: hidden;
  margin-top: 0;
}

.visible {
  height: 100vh;
  position: relative;
  bottom: 0;
  margin-top: 3vw;
}

#title ._1 {
  width: 20vw;
}

#title ._2 {
  width: 15vw;
}

#title .flex-default-row {
  align-items: flex-end;
}

#title button {
  position: relative;
  top: 19vw;
  right: 5.2vw;
}

/* .default-box */

.default-box {
  background-color: #c4c4c4;
  position: relative;
}

.default-box .button {
  margin: 1rem;
}

.default-box .heading-container {
  position: absolute;
}

.start-grid-container .default-box {
  align-items: flex-end;
}

/* START-ID */

/* #redefined */

#redefined {
  grid-area: redefined;
  margin-top: 1.6rem;
  justify-content: flex-end;
}

#redefined .heading-container {
  top: -0.7rem;
  left: 0.6rem;
}

#redefined .flex-default-row {
  position: relative;
  bottom: 2vw;
  right: 0.6vw;
}

#redefined .text {
  position: relative;
  right: 0.8vw;
  top: 0.5vw;
}

#redefined img {
  height: 100%;
}

#re {
  display: inline-block;
  position: relative;
  transform: rotate(-90deg);
}

/* #opening */

#opening {
  margin-top: 1.6rem;
  grid-area: opening;
}

/* #now */

#now {
  position: relative;
  grid-area: now;
  margin-top: 1.6rem;
  align-items: flex-start;
}

#now img {
  width: 65%;
}

#now h2 {
  align-self: flex-end;
  margin-right: 1vw;
}

#now .text {
  position: relative;
  left: 1vw;
}

#now .heading-container {
  position: relative;
}

/* #tours */

#tours {
  grid-area: tours;
  justify-content: flex-start;
}

#tours .heading-container {
  right: 3vw;
  top: 2vw;
}

#tours img {
  height: 100%;
}

#tours .text {
  position: relative;
  left: 1rem;
}

/* #events */

#events {
  grid-area: events;
  justify-content: flex-end;
}

#events img {
  width: 15vw;
  max-width: 20vw;
}

#events .button {
  bottom: 0;
}

#events .heading-container {
  top: 0;
  left: 1vw;
}

.bodyHidden {
  transition: 2s;
  overflow-x: hidden;
  overflow-y: visible;
}

footer {
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center;
  height: 5rem;
}

/**/

@media (max-width: 100rem) {
  .start-grid-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "redefined redefined opening opening"
      "redefined redefined opening opening"
      "redefined redefined opening opening"
      "redefined redefined events events"
      "redefined redefined events events"
      "tours tours events events"
      "tours tours events events"
      "tours tours events events"
      "tours tours events events"
      "now now now now";
    height: 85rem;
  }
  #now {
    margin: 0;
    height: 20rem;
    flex-direction: row;
  }
  #now img {
    height: 100%;
    width: auto;
  }
  #now h2 {
    margin: 1rem;
  }
  #now .text {
    top: 2rem;
  }
  #redefined img {
    width: 16vw;
    height: auto;
  }
  #redefined .flex-default-row {
    position: relative;
    bottom: 2.3rem;
    right: 0.6rem;
  }
  #redefined .text {
    right: 2rem;
  }
  #redefined h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 5rem;
  }

  h4 {
    font-size: 3rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  p {
    font-family: "Chivo";
    font-size: 1.5rem;
  }
}

@media (max-width: 80rem) {
  #tours img {
    width: 30%;
    height: auto;
  }
  #redefined img {
    width: 14vw;
  }
}

@media (max-width: 64rem) {
  header .flex-default-row {
    display: none;
  }
  .start-grid-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "redefined redefined"
      "redefined redefined"
      "opening opening"
      "events events"
      "events events"
      "tours tours"
      "now now";
    height: 120rem;
  }
  #redefined img {
    height: 100%;
    width: auto;
  }
  #redefined .text {
    left: 1rem;
  }
  #redefined h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }
  #redefined .text {
    top: 3vw;
  }
  #events img {
    height: 100%;
    width: auto;
    max-width: none;
  }
}
@media (max-width: 56rem) {
  #now img {
    position: absolute;
    top: 0;
    width: 9rem;
    height: auto;
  }
  #now .text {
    position: absolute;
    width: 20rem;
    font-size: 1.2rem;
    top: 0;
    left: 9.5rem;
    margin: 1rem;
  }
  #now .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 45rem) {
  #redefined img {
    width: 30vw;
    height: auto;
  }
}
@media (max-width: 514px) {
  #now p {
    font-size: 4vw;
  }
}
@media (max-width: 616px) {
  #events img {
    width: 30vw;
    height: auto;
  }
}
@media (max-width: 425px) {
  html {
    height: 90rem;
  }
  .start-grid-container {
    height: 90rem;
    gap: 1rem;
    padding: 1rem;
    padding-top: 6rem;
  }
  #redefined h1 {
    font-size: 18vw;
  }
  #redefined .text {
    top: 2rem;
  }
  #redefined img {
    display: none;
  }
  #tours {
    height: 13rem;
  }
  #tours .heading-container {
    position: absolute;
    left: 0;
  }

  h2 {
    font-size: 15vw;
  }

  h3 {
    font-size: 12vw;
  }

  h4 {
    font-size: 7vw;
  }

  h5 {
    font-size: 4vw;
  }

  p {
    font-size: 6vw;
  }
  #tours img {
    display: none;
  }
  #tours .flex-default-row {
    position: absolute;
    left: 0;
  }
}
@media (max-width: 320px) {
  #now .text {
    position: absolute;
    left: 9rem;
    bottom: 1rem;
    width: 5rem;
  }
}
