* {
  padding: 0;
  margin: 0;
  font-family: "Alata";
  font-weight: 300;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.2vw;
}

p {
  font-family: "Chivo";
  font-size: 1vw;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
  z-index: 666;
  background-color: black;
}

header h5 {
  margin-left: 3vw;
  letter-spacing: 0.4vw;
  color: white;
}

.flex-default-row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-default-column {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.start-grid-container {
  padding: 2vw;
  padding-top: 6.2vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "redefined redefined opening opening now"
    "redefined redefined opening opening now"
    "redefined redefined opening opening now"
    "redefined redefined events events now"
    "redefined redefined events events now"
    "tours tours events events now"
    "tours tours events events now"
    "tours tours events events now"
    "tours tours events events now";
  gap: 2vw;
  max-height: 60vw;
  min-height: 43.1vw;
  height: 100vh;
  width: 100vw;
}

.absolute-box {
  background-color: #c4c4c4;
  position: relative;
}

#redefined {
  grid-area: redefined;
  margin-top: 2vw;
  justify-content: flex-end;
}

#now {
  grid-area: now;
  margin-top: 2vw;
}

#tours {
  grid-area: tours;
  justify-content: flex-start;
}

#events {
  grid-area: events;
  justify-content: flex-end;
}

.eventsHeading {
  top: 0;
  left: 0;
  margin: 1vw;
}

#events img {
  width: 15vw;
  max-width: 20vw;
}

#opening {
  margin-top: 2vw;
  grid-area: opening;
}

#re {
  display: inline-block;
  position: relative;
  transform: rotate(-90deg);
  bottom: 2vw;
  right: 0.7vw;
}

#redefinedHeading {
  top: -0.7vw;
  left: 0.6vw;
}

#toursHeading {
  right: 3vw;
  top: 2vw;
}

#redefined img {
  height: 100%;
}

#redefined .text {
  position: relative;
  left: 5vw;
  bottom: 7vw;
}

#tours img {
  height: 100%;
}

.button {
  background-color: white;
  padding: 0.3vw 0.9vw;
  display: inline-block;
}

.absolute-box .button {
  margin: 1vw;
  z-index: 1;
}

.absolute-box > * {
  position: absolute;
}

.start-grid-container .absolute-box {
  align-items: flex-end;
}

.start-grid-container .absolute-box img,
.start-grid-container .absolute-box .button {
  position: relative;
}

#events .button {
  bottom: 0;
}
